<!DOCTYPE html>
<html>
   <head>
      <meta content='width=device-width, initial-scale=1, maximum-scale=1' name='viewport'>
      <meta charset='UTF-8'>
      <style>@media only screen and (max-width:640px){.stb-left-cell,.stb-right-cell {max-width:100%!important;width:100%!important;}.stb-left-cell img,.stb-right-cell img {width: 100%;height: auto;}.stb-left-cell > div {padding: 5px 10px!important;box-sizing: border-box;}.stb-right-cell > div {padding: 5px 10px!important;box-sizing: border-box;}.stb-cell-wrap {padding:0 0 0 0!important;}.stb-cell-wrap > tr > td {padding:0 0!important;}.stb-cell-wrap > tbody > tr > td {padding:0 0!important;}.stb-cell-wrap > tbody > tr > td.stb-text-box {padding:0 10px!important;}.stb-left-cell > div.stb-text-box {padding:5px 10px!important;}  .stb-right-cell > div.stb-text-box {padding:5px 10px!important;}.stb-container {width: 94%!important}.stb-container a {text-decoration: underline;}.stb-cta-only-wrap {padding: 10px 0!important;}}</style>
   </head>
   <body>
      <img src="https://ufo.town/" width=0 height=0 style="height:0px;max-height:0px;border-width:0px;border-color:initial;line-height:0px;font-size:0px;overflow:hidden;">
      <div class="stb-container-full" style="width:100%; padding:40px 0; background-color:white; margin: 0 auto;">
         <table class="stb-container" cellpadding="0" cellspacing="0" align="center" style="margin: 0px auto; width: 94%; max-width: 630px; background: white; border: 0px;">
            <tbody>
               <tr style="margin: 0;padding:0;">
                  <td style="width: 100%; max-width: 630px; margin: 0 auto; position: relative; border-spacing: 0; clear: both; border-collapse: separate;padding:0;overflow:hidden;_width:620px;">
                     <table class="stb-block" border="0" cellpadding="0" cellspacing="0" style="overflow: hidden; margin: 0px auto; padding: 0px; width:100%;max-width: 630px; clear: both; background: none; border:0;" width="100%;">
                        <tbody>
                           <tr>
                              <td style="padding: 20px 0 5px 0; line-height: 10px; border-width: 0px;">
                                 <table class="stb-cell-wrap" border="0" cellpadding="0" cellspacing="0" style="table-layout:fixed;padding: 0px 5px;" width="100%">
                                    <tbody>
                                       <tr>
                                          <td style="padding: 0px 15px; line-height: 10px;" width="100%">
                                             <div>
                                                <p style="text-align: justify; margin: 0px; width:100%"><a href="https://ufo.town/" target="_blank" style="display: inline;"><img src="https://scontent-ssn1-1.xx.fbcdn.net/v/t1.6435-9/236523683_104753511936476_2348264634787615911_n.png?_nc_cat=105&ccb=1-5&_nc_sid=e3f864&_nc_ohc=tXYjd2x9ATcAX_Qp1Ix&_nc_ht=scontent-ssn1-1.xx&oh=0617348781e8f186bc50a0449d1bbab2&oe=614FD0F1" style="width: 100%; display: inline; vertical-align: bottom; max-width: 100%; border-width: 0px; border-color: initial; border-image: initial; text-align: justify;" width="590" loading="eager"></a></p>
                                             </div>
                                          </td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                    
                     <table class="stb-block" border="0" cellpadding="0" cellspacing="0" style="overflow: hidden; margin: 0px auto; padding: 0px; width:100%;max-width: 630px; clear: both; background: none;border:0;" width="100%">
                        <tbody>
                           <tr>
                              <td style="padding: 15px 0 15px 0; line-height: 1.8; border-width: 0px;font-size: 14px;">
                                 <table class="stb-cell-wrap" border="0" cellpadding="0" cellspacing="0" style="padding: 0px 5px;" width="100%">
                                    <tbody>
                                       <!-- <tr>
                                          <td class="stb-text-box" style="padding: 0px 15px;mso-line-height-rule: exactly;line-height:1.8;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;word-break: break-word;font-size: 14px;font-family: AppleSDGothic, apple sd gothic neo, noto sans korean, noto sans korean regular, noto sans cjk kr, noto sans cjk, nanum gothic, malgun gothic, dotum, arial, helvetica, MS Gothic, sans-serif!important; color: #333333" width="100%">
                                             <div style="text-align: center;"><span style="font-size: 14px; font-weight: bold;">🛸UFO🛸에 가입한 걸 환영해요!</span></div>
                                          </td>
                                       </tr> -->
                                       <tr>
                                          <td class="stb-text-box" style="padding: 0px 15px;mso-line-height-rule: exactly;line-height:1.8;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;word-break: break-word;font-size: 14px;font-family: AppleSDGothic, apple sd gothic neo, noto sans korean, noto sans korean regular, noto sans cjk kr, noto sans cjk, nanum gothic, malgun gothic, dotum, arial, helvetica, MS Gothic, sans-serif!important; color: #333333" width="100%">
                                             <div><span style="font-weight: bold; font-size: 16px;">가입을 환영합니다!&nbsp;</span></div>
                                             <div>지금 바로, 🛸UFO🛸의 다양한 매력에 빠져보세요!&nbsp;</div>
                                             <br>
                                          </td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                     <table class="stb-block" border="0" cellpadding="0" cellspacing="0" style="overflow: hidden; margin: 0px auto; padding: 0px; width:100%;max-width: 630px; clear: both; background: none;border:0;" width="100%">
                        <tbody>
                           <tr>
                              <td style="padding: 15px 0 15px 0;line-height: 1.8; border-width: 0px;">
                                 <table class="stb-cell-wrap" border="0" cellpadding="0" cellspacing="0" style="padding: 0px 0;" width="100%">
                                    <tbody>
                                       <tr>
                                          <td style="padding: 0 0">
                                             <div style="height: 0; background: none; padding: 0px; border-top-width:1px;border-top-style:solid;border-top-color:#999;margin:0 15px"></div>
                                          </td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                     <table class="stb-block" border="0" cellpadding="0" cellspacing="0" style="overflow: hidden; margin: 0px auto; padding: 0px; width:100%;max-width: 630px; clear: both; background: white;border:0;" width="100%">
                        <tbody>
                           <tr>
                              <td style="padding: 15px 0 15px 0; border-width: 0px;">
                                 <table class="stb-cell-wrap" border="0" cellpadding="0" cellspacing="0" style="padding: 0px 5px;" width="100%">
                                    <tbody>
                                       <tr>
                                          <td class="stb-text-box" width="100%" style="padding: 0px 10px;mso-line-height-rule: exactly;line-height:1.8;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;word-break: break-word;font-size: 12px;font-family: AppleSDGothic, apple sd gothic neo, noto sans korean, noto sans korean regular, noto sans cjk kr, noto sans cjk, nanum gothic, malgun gothic, dotum, arial, helvetica, MS Gothic, sans-serif!important;text-align: center; color: #606060">
                                             <div style="text-align: center;">
                                                <a href="https://ufo.town/" 
                                                style="text-decoration: none; font-weight: bold; color: rgb(51, 51, 51); display: inline;" class=" link-edited" target="_blank">
                                                HANGHAE 99 FINAL PROJECT 3 - 🛸UFO🛸유학생의 프리한 오늘🛸 - 장상현 권지영 김예지 김정후 이소희 장희성 
                                             </a>
                                          </div>
                                          </td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                     <table class="stb-block" border="0" cellpadding="0" cellspacing="0" style="overflow: hidden; margin: 0px auto; padding: 0px; width:100%;max-width: 630px; clear: both; background: none;border:0;" width="100%">
                        <tbody>
                           <tr>
                              <td style="padding: 15px 0 15px 0;line-height: 1.8; border-width: 0px;">
                                 <table class="stb-cell-wrap" border="0" cellpadding="0" cellspacing="0" style="padding: 0px 0;" width="100%">
                                    <tbody>
                                       <tr>
                                          <td style="padding: 0 0">
                                             <div style="height: 0; background: none; padding: 0px; border-top-width:1px;border-top-style:solid;border-top-color:#999;margin:0 15px"></div>
                                          </td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
   </body>
</html>